<template>
    <div class="mt-4">
        <button>Posalji</button>
    </div>
</template>

<script>
export default {
    props: {

    },
    data() {
        return {
            
        }
    },
    methods: {
        
    },
    computed: {

    },
}
</script>

<style scoped>
    button {
        background: #f2ecec;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        transition: 0.6s;
    }

    button:hover {
        background: #f0e1e1;
    }
</style>
