<template>
    <div class="mt-4">
        <label for="file">Ovde mozete dodati fajlove<hr></label><br><br>
        <input id="files" class="block mt-1 w-full"
                @change="uploadFiles($event)"
                type="file"
                name="files[]"
                required
                multiple/>
    </div>
</template>

<script>
export default {
    props: {

    },
    data() {
        return {
            files: [],
            lastFileID: 0,
        }
    },
    methods: {
        uploadFiles(event) {
            let fileList = event.target.files;
            
            this.files = [];

            Array.from(fileList).forEach(file => {
                let originalName = file.name;
                let fileInfo = originalName.split(".");
                let extension = fileInfo[fileInfo.length - 1];
                
                fileInfo.pop();
        
                let filename = fileInfo.join(".");
                let fileObj = {
                    id: this.lastFileID,
                    filename,
                    extension,
                };
                
                this.files.push(fileObj);

                this.lastFileID++;
            });

            this.$emit("html-generated", this.files);
        },
    },
    computed: {

    },
}
</script>

<style scoped>

</style>
