<template>
    <file-upload @html-generated="htmlRender"></file-upload><br>

    <div class="mt-4 flex">
        Lista fajlova: <hr>
        <div class="mt-4" v-for="(file, index) in files" :key="index">
            <p>
                <label class="cursorPointer">
                    <i class="fa fa-edit" @click="fileInputChange(index)"></i>
                </label>
                <input type="text" :id="'input' + index" :placeholder="'Fajl: ' + file.filename" class="fileInput" :value="file.filename" name="newFileNames[]">
                Extension: {{ file.extension }}
            </p>
        </div>
    </div>

    <file-submit></file-submit>

</template>

<script>
export default {
    props: {

    },
    data() {
        return {
            files: [],
        }
    },
    methods: {
        htmlRender(files) {
            this.files = files;
        },
        fileInputChange(id) {
            document.getElementById("input" + id).focus();
        },
    },
    computed: {

    },
}
</script>

<style scoped>
    .fileInput {
        border: 0; 
        outline: none;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
