<template>
   <div class="mt-4">
        Lista fajlova
    </div><hr><br>
    <table id="tableFiles" v-if="files.length">
        <tr>
            <th class="pr-2">Naziv</th>
            <th class="pr-2">Preuzmi fajl</th>
            <th class="pr-2">Preuzmi zip</th>
            <th class="pr-2">Zastita</th>
            <th class="pr-2">Brisanje</th>
        </tr>
        <tr v-for="file in files" :key="file.id">
            <td class="pr-2">
                <i class="fa fa-file"></i> {{ file["originalFilename"] }}
            </td>
            <td class="pr-2">
                <a :href="'/fileDownload/' + file['fileHash']">
                    <i class="fa fa-download"></i>
                </a>
            </td>
            <td class="pr-2">
                <a href="#" class="zipDownload" @click="zipDownload(file['protected'], file['fileHash'])">
                    <i class="fa fa-archive"></i>
                </a>
            </td>
            <td>
                <a href="#" @click="updateProtection(file['id'])">
                    <i class="fa fa-check" v-if="file['protected'] == '1'"></i>
                    <i class="fa fa-times" v-else></i>
                </a>
            </td>
            <td class="pr-2">
                <a href="#" @click="deleteFile(file['id'])">
                    <i class="fa fa-trash redColor cursorPointer"></i>
                </a>
            </td>
        </tr>
    </table>
    <div v-else>
        - Nemate postavljene fajlove.
    </div>
</template>

<script>
export default {
    mounted() {
        this.getUserFiles();
    },
    props: {
        password: String,
    },
    data() {
        return {
            files: [],
        }
    },
    methods: {
        getUserFiles() {
            axios.get("/getUserFiles")
                .then(data => {
                    this.files = data.data.files;
                })
                .catch(error => console.error(error));
        },
        deleteFile(fileID) {
            axios.delete("/deleteFile", {
                params: {"fileID" : fileID}
            })
                .then(data => {
                    Swal.fire(data.data.message);

                    this.files = this.files.filter(file => file.id != fileID);
                })
                .catch(error => console.error(error));
        },
        zipDownload(protectedFile, hash) {
            let passProtected = protectedFile == "1";

            if (passProtected) {
                Swal.fire({
                    title: "Ovaj fajl je zasticen!",
                    text: "Unesite lozinku:",
                    input: 'text',
                    showCancelButton: true        
                }).then((result) => {
                    if (result.value && result.value != this.password) {
                        Swal.fire('Pogresna lozinka');
                    } else if (result.value) {
                        window.location = `/fileDownload/${hash}.zip`;
                    }
                });
            } else {
                window.location = `/fileDownload/${hash}.zip`;
            }
        },
        updateProtection(fileID) {
            axios.patch("/updateProtect/" + fileID)
                .then(data => {
                    Swal.fire(data.data.message);

                    this.files.map(file => {
                        let currentFileID = file.id;

                        if (currentFileID == fileID) {
                            file.protected = !file.protected;
                        }
                    });
                })
                .catch(error => console.error(error));
        },

    },
    computed: {

    },
}
</script>

<style scoped>
    #tableFiles tr, td {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    #tableFiles tr, td:nth-child(5n + 1) {
        text-align: left;
    }

    #tableFiles {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #tableFiles td, #tableFiles th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tableFiles tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #tableFiles tr:hover {
        background-color: #ddd;
    }

    #tableFiles th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #77bda3;
        color: white;
    }
</style>
