@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.redBgd {
    background: #e83e3e;
    padding: 10px;
}

.redColor {
    color: #e83e3e;
}

.pr-2 {
    padding-right: 10px;
}

.greenBgd {
    background: #1fc51f;
    padding: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.cursorPointer {
    cursor: pointer;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.m-auto {
    margin: 0 auto;
}

.float-right {
    float: right;
}
